<footer class="mt-5">
    <div class="container">
        <div class="mt-3 d-flex justify-content-center">
            <div>
                <i class="fa-brands fa-facebook" style="color:#ff7373"></i>
                <i class="fa-brands fa-instagram" style="color:#ff7373"></i>
                <i class="fa-brands fa-google" style="color:#ff7373"></i>
                <i class="fa-brands fa-linkedin" style="color:#ff7373"></i>
            </div>
        </div>

        <div class="mt-2 d-flex justify-content-center">
            <div class="copyright">
                © @DateTime.Now.Year Fixxo.  All right reserved.
            </div>
        </div>
    </div>
</footer>