@model ProductModel

<div class="item">
    <div class="image-section">
        <img src="@Model.ImageUrl" alt="" />
        <div class="menu">
            <div class="icons">
                <button class="link"><i class="fa-regular fa-code-compare"></i></button>
                <button class="link"><i class="fa-regular fa-heart"></i></button>
                <button class="link"><i class="fa-regular fa-bag-shopping"></i></button>
            </div>

            <div class="btn-theme">
                @Html.ActionLink("VIEW ITEM", "ProductDetail", "Products", new { articleNumber = Model.ArticleNumber })
            </div>
        </div>
    </div>
    <div class="body-section">
        <div class="category">Coats</div>
        <div class="name">@Model.Name</div>
        <partial name="~/Views/Shared/Partials/_StarRatingPartial.cshtml" model=@Model.StarRating />
        <div class="price">@Math.Round(Model.Price)$</div>
    </div>
</div>

