@{
    ViewData["Title"] = "Successfully deleted";
}
<div class="container mt-5">
    <div class="d-flex justify-content-center d-flex align-items-center">
        <div class="respond-box">
            <div class="mt-5 mb-3 respond-text">The product has now been successfully removed from the system!</div>
            <a asp-action="Index" asp-controller="Home">Get back to homepage...</a>
        </div>

    </div>
</div>